html{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZj-yhNrezEUisN-Dbdtw6o3n1TBkTOdrjfA&s");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}